* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --light-gold: #FADCB4;
    --gold: #D29F1B;
    --dark-gold: #504B3E;
    --dark-gray: #1C1C1C;
    --red: #FA4004;
    --dark-red: #43030B;
    --orange: #FA4004;
    --green: #00875F;
    --black: #121214;
    --gray: #29292E;
    background: var(--dark-gray);
}

